# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# MLflow runs
mlruns/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

mlflow.db
results/